/* Stili base */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #0c0f14, #1b1f27);
  color: #f0f0f0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: start; */
  padding: 0;
  /* min-height: 100vh; */
}



.header .title {
  text-align: center;
  color: #00adb5;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

/* Colonne affiancate */
.colonna-controlli,
.colonna-simulazione {
  flex: 1;
  background-color: #14171d;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 207, 213, 0.2);
}

/* Form */
.input-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: #393e46;
  color: white;
}
.btn-start {
  grid-column: span 2;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #00adb5;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.bottoni-comandi{
  display:flexbox;
  justify-content: center;
  text-align: center;
}

.btn-propulsore {
  
  grid-column: span 2;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #00adb5;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-propulsore {
  background-color: #ff3c22;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.btn-start:hover {
  background-color: #007b80;
}

.btn-propulsore:hover {
  background-color: #b11f09;
}

.telemetria {
  background-color: #111;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.telemetria p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

.istruzioni ul {
  padding-left: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0.5rem 0 1rem;
}
.istruzioni li::marker {
  color: #00adb5;
}

.note {
  font-size: 0.8rem;
  opacity: 0.6;
  text-align: center;
}

/* Area di simulazione */
.simulatore-area {
  height: 100%;
  position: relative;
}

.sim-area {
  position: relative;
  background-color: #111;
  border: 2px solid #00cfd5;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lander {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #fce38a;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(252, 227, 138, 0.8);
  transition: background-color 0.3s;
}

.target {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 10px;
  background-color: #00adb5;
  border-radius: 5px 5px 0 0;
}